<div class="title-container">
<h1>Browse By Genre</h1>
<% if admin? %> 
<div class="admin">
    <%= link_to "Add New Genre", new_genre_path(@genre), class: "btn btn-default"  %> 
<% end %>
</div>
</div>

<div class="genres">  
  <% @genres.each do |genre| %>
    <div class="genre">
      <div class="thumbnail">
        <div class="caption">
            <%= link_to genre.name, genre_path(genre) %>
        </div>
      </div>
    </div>
  <%end%>


 