<div class="title-container">
<h1>Genres < <%=@genre.name%> < Books</h1>
<% if policy(@genre).update? %> 
<div class="admin">
    <%= link_to "Edit Genre", edit_genre_path(@genre), class: "btn btn-default"  %> 
<% end %>
</div>
</div>


<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">Books</th>
    <th scope="col">Cover</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Genre</th>
    <th scope="col">Synopsis</th>
    <th scope="col">Average Rating</th>
    <th scope="col">Rating</th>
    </tr>
 </thead>
  <% @genre.books.each do |b| %>
    <%= render partial: 'books/table', locals: {book: b} %>
  <%end%>
