<h1> this is the New list form partial to render</h1> 
<%= form_with (model: [@user, list], local: true) do |f| %> 
    <%= f.label :title %> 
    <%= f.text_field :title %><br>

    <%= f.submit %>

<%end%>