<h1><%= @list.title %></h1>
<% @list.books.each do |book| %> 
    <% book.title %> 
<% end %> 
<%= link_to "Edit List", edit_list_path(@list) %> 
 
<%= form_tag list_path(@list), method: "delete" do %>
    <%= submit_tag "Delete This List" %>
  <% end %>