<div>
  Author: <%= book.author %><br>
  Genre:  <%= link_to book.genre.name, genre_path(book.genre) %><br>
  Synopsis: <%= book.synopsis %><br>
  <% if book.reviews.present? %> 
    <div> Average Rating: <%= book.average_rating %><br>
  <%end%> 
</div>
  
 

