<h1>Edit Book</h1>
<%= render partial: "form", locals: {book: @book} %> 

<%= form_tag book_path(@book), method: "delete", data: { confirm: 'Are you sure?' }  do %>
    <%= submit_tag "Delete This Book" %>
<% end %>
