@import "bootstrap-sprockets";
@import "bootstrap";

.title-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 

  .admin {
    margin: 0;
  }

  .user-actions {
    float: right;
    margin: 0;
  }
}

h3 {
  display:inline;
  margin-bottom: 0;
  
  .write-review-link {
    float: right;
    margin-left: 20px;
    
  }
}
.form-group {
  width: 150px;
  
}

.add-to-list-form {
  margin: 20px
 
}

.review-details {
  margin-bottom: 20px;
}



.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  width: 30%;
  min-width: 300px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.list {
  width: 30%;
  min-width: 300px;
}