@import "bootstrap-sprockets";
@import "bootstrap";

.title-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 

  .admin {
    margin: 0;
  }

  .user-actions {
    margin: 0;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  width: 30%;
  min-width: 300px;
}