<h2><%= link_to @book.title, book_path(@book) %> by <%= @book.author %></h2> 

<%= render partial: "errors/error", locals: {review: @review} %>

<%= render partial: "form", locals: {book: @book, review: @review} %> 
